@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Recuperar";
}

<div class="sectionHeader2">
    <h2>@ViewData["Title"]</h2>
    <h4>Digite o seu email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-11">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>
        </div>
    </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
