@{
    ViewData["Title"] = "Recuperar";
}
<div class="sectionHeader2">
    <div class="row">
        <div class="col-md-11">
            <h2>@ViewData["Title"]</h2>
            <p>
                Porfavor verifique o seu email.
            </p>
        </div>
    </div>
    </div>
