@model LambdaForums.Models.Home.HomeIndexModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn1">
            <div class="frontPageContent">
                <div class="frontPageHeading">Tecnologias de Programação de Sistemas de Informação</div>
                <p class="frontPageSubHeading">Bem Vindo ao Forum da turma TPSI</p>
            </div>  
            <div>
                <!--<form asp-controller="Search" asp-action="Search" method="post">
                        <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..."/>
                    </form>-->
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    
    </td>
    </tr>
    
    </tbody>
    </table>
</div>
</div>